.AddMovie {
    width: 50%;
    margin-top: 30px;
}

.AddMovie > form > span > div {
    margin-bottom: 10px;
    margin-top: 10px;
}


.AddMovie > form > span > div > p {
    margin-bottom: 5px;
}

.AddMovie input,
.AddMovie textarea {
    width: 300px;
}
